footer{
    height: 164px;
    width: 1510px;
    margin: auto;
    background-color:#000000;
}
h5{
    height: 21px;
    color:#FFFFFF80;
    font-size: 18px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
.footer__img{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 27px;
}