header{
    width: 1510px;
    height: 75px;
    background-color:#000000;
    position: absolute;
    left:50%;
    margin-left: -755px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.header__logo{
    width: 183px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 115.28px;
}
.header__logo img{
    height: 30.69px;
    width: 51.81px;
    margin-right: 0;
}
.header__logo img:nth-of-type(2){
    width: 32.17px;
}
header nav{
    width: 570px;
    margin-right: 170px;
}
ul{
    display: flex;
}
ul li{
    height: 75px;
    line-height: 75px;;
    width: 113.8px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans';
    text-align: center;
    color:#FFFFFF;
    list-style-type: none;
}