.tabs {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs__subcontainer {
  width: 1170px;
}
.tabs__article {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c6cbcd;
}
.tabs__article section {
  width: 570px;
  margin-left: 100px;
}
.tabs__article h3 {
  height: 125px;
  line-height: 125px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  color: #000;
}
.tabs__article h5 {
  height: 210px;
  line-height: 21.13px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin-bottom: 25px;
  color: #000;
  text-align: left;
}
.tabs button {
  height: 60px;
  width: 270px;
  background-color: #ec7979;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  border: none;
  cursor: pointer;
}
.tabs button:hover {
  background-color: #ab4949;
  transition-duration: 1s;
}
.tabs button:active {
  background-color: #ec7979;
  box-shadow: inset 0 0 10px 0 #ab4949;
}
.tabs img {
  margin-right: -4px;
  margin-left: 30px;
}
nav {
  display: flex;
}
.tabs nav div {
  height: 40px;
  width: 184px;
  text-align: center;
  line-height: 40px;
}
.tabs nav div a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.tabs nav div:first-of-type {
  border: 1px solid #c6cbcd;
  position: relative;
}
.tabs nav div:first-of-type::before {
  content: "";
  position: absolute;
  width: 182.5px;
  border-bottom: 4px solid #fff;
  top: 38px;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .tabs__subcontainer {
    width: 992px;
  }
  .tabs__article section {
    width: 485px;
    margin-left: 85px;
  }
  .tabs__article h3 {
    height: 90px;
    line-height: 90px;
    font-size: 24px;
    margin-bottom: 40px;
  }
  .tabs__article h5 {
    height: 110px;
    line-height: 16.44px;
    font-size: 14px;
    margin-bottom: 40px;
    white-space: nowrap;
  }
  .tabs button {
    width: 230px;
  }
  .tabs img {
    margin-left: 0;
    width: 370px;
    height: 385px;
  }
  .tabs nav div {
    width: 172px;
  }
  .tabs nav div:first-of-type::before {
    width: 170.5px;
  }
}

@media screen and (max-width: 320px) {
  .tabs__subcontainer {
    width: 288px;
  }
  .tabs__article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tabs__article section {
    width: 240px;
    margin-left: 0;
  }
  .tabs__article h3 {
    height: 112px;
    line-height: 24.51px;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .tabs__article h5 {
    height: 180px;
    width: 243px;
    line-height: 15.26px;
    font-size: 13px;
    margin-bottom: 30px;
    text-align: center;
    white-space: normal;
  }
  .tabs button {
    height: 50px;
    width: 240px;
    margin-bottom: 30px;
  }
  .tabs img {
    display: none;
  }
  nav {
    display: flex;
  }
  .tabs nav div {
    width: 90px;
  }
  .tabs nav div:first-of-type::before {
    width: 88.5px;
    top: 37px;
  }
}
